
h3{color:rgb(115, 115, 183); font-weight: bold; text-decoration: underline; text-underline-offset: 6px;}

p{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: rgb(30, 41, 45) ;}

body{background-color: lightcyan ;}

#skip{color: steelblue; background-color: rgb(128, 209, 189); display: inline-block; text-align: center; padding: 15px 25px; border-radius: 66%;}

#skip:hover{color: whitesmoke}

nav{display: inline-block; 
    padding: 10px 20px; 
    margin: 10px;
    background-color: goldenrod;
    color: antiquewhite;
    }
nav:hover{ background-color: dodgerblue;}

a:hover{color:whitesmoke}

a{text-decoration: none;}

div{background-color: rgb(14, 13, 13);}

.div-cube{background-color: rgb(255, 111, 0); 
    color: rgb(35, 29, 219);
    width: 5em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.div-cube:hover{background-color: blue;}
.div-cube:hover p{color: whitesmoke}

.container-cube{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: lightcyan;
}

th{font-style:bold;}

table, th, td {border: 1px solid rgb(246, 240, 240);
border-collapse: collapse;
border-width: 3px;
background-color: cadetblue;
border-radius: 10px;
padding: 1.75em;}

table{margin: auto;}

.lijst{display:inline;}


.item{background-color: blanchedalmond;
        width: 100px; 
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;

}

.container{ background-color: lightcyan;
            display:flex; 
            justify-content: center;
            justify-content: space-evenly;
            flex-wrap: wrap;

}